@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oxygen:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav */
.nav{
    width: 100%;
    height: 80px;
    background-color: #df7117;
}

.h1{
    margin-left: 179px;
    margin-top: 33px;
}
.w{
    height: 25px;
    border-radius: 10px;
    border-color: transparent;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}

.btn2{
    height: 30px;
    width: 90px;
    background-color: transparent;
    transition: 5;
}
.btn2:hover{
    transform: scale(1.08);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#h2{
    font-family: 'Oxygen', sans-serif;
}

/* head-img */

.head-img{
    width: 100%;
    height: 310px;
    background-image: url('./pic/Add\ a\ heading\ \(2\)\ \(1\).png');
    background-size: cover;
}

h2{
    margin-top: 10px;
    margin-left: 10px;
}

.c{
    height: 600px;
    width: 250px;
    border: solid 2px transparent;
    float: left;
    border-radius: 8px;
    margin-left: 150px;
    margin-top: 45px;
    transition: 1;
}
.c:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.ab{
    margin-left: 100px;
}

body{
    background: rgb(219,110,69);
background: linear-gradient(90deg, rgba(219,110,69,1) 0%, rgba(29,253,209,1) 100%);
}

img{
    width: 75%;
    height: 270px;
    margin-left: 11%;  
    margin-top: 10px;
    transition: 1;
    
  }
  img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


h5{
    text-align: center;
  }

  h4{
    text-align: center;
    font-size: 17px;
  }


  p{
    text-align: justify;
    text-align: center; 
 }

 h1{
    text-align: center;
 }

 .btn{
    height: 30px;
    width: 60px;
    margin-left: 90px;
    background-color: greenyellow;
    border-radius: 5px;
    border-color: transparent;
 }
 .btn:hover{
    background-color: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 #s1{
    font-size:29px;
    font-family: 'Lobster', sans-serif;
 }
 #s2{
    font-family: 'Lobster', sans-serif;
 }